<div
  class="work-area mat-app-background min-h-screen flex flex-col items-center justify-center px-4"
>
  <div class="top-background h-10 fixed w-full"></div>

  <div
    class="w-full max-w-md p-6 rounded-lg shadow-md flex flex-col items-center roles-card bg-white"
  >
    <div class="">
      <h1 class="text-4xl">Olvidaste tu contraseña </h1>
    </div>
    <br />
    <!-- aqui colocar lo del login -->
    <form class="w-full flex flex-col gap-2">
      <div>
        <div class="relative w-full p-2">
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"
          >
            <i class="material-icons">mail</i>
          </span>
          <input
            type="mail"
            placeholder="Ingrese su número"
            class="w-full pl-10 pr-4 py-2 rounded-lg bg-gray-200 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700 placeholder-gray-500"
            formControlName="username"
          />
        </div>
        <br />
        <div class="text-sm text-gray-600 p-2">
          <p class="text-xs">
            <label class=" text-red-500 cursor-pointer">*</label>Te enviaremos un
            mensaje para cambiar de contraseña
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="button-gradient mt-2 w-full text-lg py-2 rounded-lg"
      >
        ENVIAR
      </button>
    </form>
  </div>
</div>
