.top-background {
  background: url(/assets/images/my-dots.svg);
  background-repeat: repeat-x;
}

.mat-app-background {
  background-image: url(/assets/images/bg-keyboard.svg);
  background-repeat: no-repeat;
  background-position: top right;
}

.roles-card {
  background-color: white;
}

.rodeo{
  border-radius: 30px;
}